@import "grid";

/*
 * Hello!
 * Here is how you would write responsive styles if you chose NOT to use a grid system.
 * If you'd like to use a grid system I'd recommend using one of the following:
 * 1. http://getskeleton.com/
 * 2. http://neat.bourbon.io/
 * 3. http://susy.oddbird.net/
 * When you are writing these styles, remember to write all of your base/mobile styles
 * first.
 * Then write your styles for your next larger "breakpoint" (screen width).
 * Then write your styles for your largest "breakpoint".
 * You can have as many breakpoints defined as you like - most developers use 3 or
  4 that correspond with comminly used device-widths that they plan to support.
 * Use the internet as a resource when you need information!
 * See notes below. ***
 */

 body {
  background-color: green;
 }

.example-style1 {
 /*
  * Styles for mobile size 320 and larger
  * These are your base styles
  * Write these styles first
  */
  color: black;
}

form {
  display: inline-block;
}

body {
  text-align: center;
}

@media (min-width: 700px) {
  .example-style1 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
  }
}
@media (min-width: 1024px) {
  .example-style1 {
    /*
     * Styles for desktop size and larger here.
     * Here is where you would overwrite your base and tablet-size styles
     * that you want to change for this breakpoint.
     * Base styles and your 700px breakpoint styles (your tablet styles) are inherited
     * here so no need to repeat formerly defined properties that will remain unchanged.
     * Write these styles 3rd.
     */
  }
}